<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.delusions.measure" android:versionName="1.4.2"
	android:versionCode="12">
	<uses-sdk android:minSdkVersion="7"  android:maxSdkVersion="17" android:targetSdkVersion="13"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />	
	<application android:icon="@drawable/icon2"
		android:label="@string/app_name" android:allowBackup="true" >
		<activity android:name=".MeasureTabs" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="de.delusions.measure.MeasureActivity" />
		<activity android:name="de.delusions.measure.activities.chart.WeightChart"
			android:configChanges="orientation" />
		<activity android:name="de.delusions.measure.MeasureEdit"
			android:theme="@android:style/Theme.Dialog" />
        <activity android:name="de.delusions.measure.MeasureCreateActivity"
            android:theme="@android:style/Theme.Dialog" />
		<activity android:name="de.delusions.measure.MeasureFastEdit"
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name="de.delusions.measure.activities.bmi.BmiTable" />
		<activity android:name="de.delusions.measure.activities.prefs.UserPreferences" />
		<activity android:name="de.delusions.measure.activities.bmi.BmiCalc"
			android:theme="@android:style/Theme.Dialog" />
		<receiver android:name=".notifications.AlarmReceiver"></receiver>

		<!-- receiver android:label="Droid Weight Input" android:icon="@drawable/icon2" 
			android:name="de.delusions.measure.widget.InputAppWidgetProvider"> <intent-filter> 
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> </intent-filter> 
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/input_widget_info" 
			/> </receiver -->
		<receiver android:name=".notifications.OnBootReceiver"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name=".notifications.NotifyService"></service>
	</application>
	
</manifest>
